@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to header */
header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Apply styles to hero section */
.hero {
    background-image: url('https://via.placeholder.com/150');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}

.btn {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #ff6347;
}

/* Apply styles to features section */
.features {
    text-align: center;
    padding: 50px;
}

.feature {
    display: inline-block;
    max-width: 300px;
    margin: 0 20px;
    text-align: left;
    padding: 10px;
}

/* Apply styles to footer */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}